/**
 * Button
 */
.btn {
  @include transition( all );
  padding: 10px 20px;
  text-align: center;
  color: $blue;
  border: 1px solid $blue;
  background-color: transparent;

  &:hover {
    @include transition( all );
    color: #fff;
    background-color: $blue;
  }

}
