/**
 * Card experience
 */
.card--experience {

  .job {
    margin-bottom: 50px;

    &:last-of-type {
      margin-bottom: 0;
    }

    .job__header {
      display: flex;
      justify-content: space-between;
      padding-bottom: 10px;
      border-bottom: 1px dashed $light-grey;
    }

    .header__left {
      margin-right: 15px;
      text-align: left;
    }

    .header__right {
      margin-left: 15px;
      text-align: right;
    }

    .job__company {
      color: $blue;
    }

    .content__heading {
      font-size: 1em;
      text-transform: uppercase;
    }

  }



}
