/**
 * Colours
 */
$dark-grey: #333;
$mid-grey: #585858;
$light-grey: #ccc;
$blue: #3399ff;

$body-font-color: $dark-grey;


/**
 * Social colours
 */
$linkedin: #336699;
$twitter: #55acee;
$github: #24292e;
